extends layout

block content
  header
    .button-container
      a(href=`https://hidden-reef-92811.herokuapp.com/`): button.compose= "Back to Message Board"
    h1= 'Construct New Message'
    p= 'speak your mind freely'
  main
    h2= "New Message"
    form(method="POST" action="/new")
      p
        | Title:
        input(type="text", name="title")
      p
        | User:
        input(type="text", name="user")
      p
        | Post:
        input(type="text", name="input")

      input(type="submit", value="Submit")
